In [1]:
import pandas as pd
import openpyxl

##### 파일 불러온후 오름차순 정렬

In [2]:
crawl=pd.read_excel('./시세_인구_면적.xlsx')
live=pd.read_excel('C:/Users/DoHyun/Desktop/DAI/프로젝트/빅데이터페스티벌/크롤링/수정데이터셋/상권_상주인구.xlsx')
facility=pd.read_excel('C:/Users/DoHyun/Desktop/DAI/프로젝트/빅데이터페스티벌/크롤링/수정데이터셋/상권_슈퍼숙박버스지하철중고대.xlsx')
house=pd.read_excel('C:/Users/DoHyun/Desktop/DAI/프로젝트/빅데이터페스티벌/크롤링/수정데이터셋/상권_아파트평균면적시가.xlsx')
office=pd.read_excel('C:/Users/DoHyun/Desktop/DAI/프로젝트/빅데이터페스티벌/크롤링/수정데이터셋/상권_직장인구.xlsx')
sales=pd.read_excel('C:/Users/DoHyun/Desktop/DAI/프로젝트/빅데이터페스티벌/크롤링/수정데이터셋/상권_추정평균매출액.xlsx')

In [3]:
crawl=crawl.sort_values(['행정구역'],ascending=True).reset_index(drop=True)
live=live.sort_values(['상권 코드 명'],ascending=True).reset_index(drop=True)
facility=facility.sort_values(['상권_코드_명'],ascending=True).reset_index(drop=True)
house=house.sort_values(['상권_코드_명'],ascending=True).reset_index(drop=True)
office=office.sort_values(['상권_코드_명'],ascending=True).reset_index(drop=True)
sales=sales.sort_values(['상권_코드_명'],ascending=True).reset_index(drop=True)

##### 각 데이터프레임 행의 길이

In [4]:
len(crawl),len(live),len(facility),len(house),len(office),len(sales)

(1496, 1481, 1462, 1322, 1493, 1210)

##### 각 df 형태 살펴보기

In [5]:
crawl[0:3]

   상권종류    순번              행정구역    임대시세    상존인구       상권면적
0  발달상권  1246       가락시장 (가락1동)  104021       0  386251.09
1  골목상권   507   가로공원로58길 (신월3동)   66953  100613   44760.85
2  골목상권   553  가로공원로76가길 (화곡1동)   91155   96073   62584.65

In [6]:
live[0:3]

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권 코드 명,상권 코드,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,연령대 30 상주인구 수,연령대 40 상주인구 수,연령대 50 상주인구 수,연령대 60 이상 상주인구 수
0,2019,2,골목상권,가로공원로58길,1000507,1297,1052,208,304,228,388,508,713
1,2019,2,골목상권,가로공원로76가길,1000552,1551,1670,427,456,652,509,473,704
2,2019,2,골목상권,가로공원로80길,1000553,1451,1430,420,409,527,451,457,617

In [7]:
facility[0:3]

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,중학교_수,고등학교_수,대학교_수,슈퍼마켓_수,숙박_시설_수,지하철_역_수,버스_정거장_수
0,2019,2,발달상권,1001060,가락시장,0,0,0,9,0,1,5
1,2019,2,골목상권,1000507,가로공원로58길,0,0,0,0,0,0,0
2,2019,2,골목상권,1000552,가로공원로76가길,0,0,0,0,0,0,0

In [8]:
house[0:3]

   기준_년_코드  기준_분기_코드 상권_구분_코드_명    상권_코드    상권_코드_명  아파트_평균_면적  아파트_평균_시가
0     2019         2       골목상권  1000507   가로공원로58길         49  100413580
1     2019         2       골목상권  1000552  가로공원로76가길         52  107132223
2     2019         2       골목상권  1000553   가로공원로80길         53  113435412

In [9]:
office[0:3]

,기준_년월_코드,기준_분기_코드,상권_구분_코드_명,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2019,2,발달상권,가락시장,61,50,11,0,3,13,...,11,12,15,10,0,1,2,5,3,0
1,2019,2,골목상권,가로공원로58길,113,65,48,1,15,18,...,10,13,15,12,0,1,8,15,17,7
2,2019,2,골목상권,가로공원로76가길,212,117,95,2,23,42,...,23,37,25,17,0,10,19,36,20,10

In [10]:
sales[0:3]

  상권_구분_코드_명               상권_코드_명  점포수         평균매출액  남성매출비율
0        NaN  4.19사거리 일대 도시재생활성화지역   12  6.252299e+08    69.0
1       발달상권                  가락시장    4  8.282657e+08    81.0
2       골목상권              가로공원로58길    1  1.523297e+08    60.0

##### crawl파일에 (괄호안)지우기

In [11]:
import re

In [12]:
nobracket=[]
for i in range(0,len(crawl['행정구역'])):
    if type(crawl['행정구역'][i])==str:
        nobracket.append(re.sub(r'\([^)]*\)','',crawl['행정구역'][i]).strip())
crawl['행정구역']=nobracket

In [13]:
crawl[0:3]

   상권종류    순번       행정구역    임대시세    상존인구       상권면적
0  발달상권  1246       가락시장  104021       0  386251.09
1  골목상권   507   가로공원로58길   66953  100613   44760.85
2  골목상권   553  가로공원로76가길   91155   96073   62584.65

##### 매출액과 crawl에서 겹치는 행정구역은 1181개

In [14]:
num=0
for i in range(len(crawl['행정구역'])):
    for j in range(len(sales['상권_코드_명'])):
        if sales['상권_코드_명'][j] == crawl['행정구역'][i]:
            num+=1
num

1181

## 병합 시작

###### cs=crawl&sales

In [45]:
cs=pd.merge(crawl,sales[['상권_코드_명','점포수','평균매출액','남성매출비율']],left_on='행정구역',right_on='상권_코드_명',how='left')

In [47]:
cs[0:3]

,상권종류,순번,행정구역,임대시세,상존인구,상권면적,상권_코드_명,점포수,평균매출액,남성매출비율
0,발달상권,1246,가락시장,104021,0,386251.09,가락시장,4.0,8.282657e+08,81.0
1,골목상권,507,가로공원로58길,66953,100613,44760.85,가로공원로58길,1.0,1.523297e+08,60.0
2,골목상권,553,가로공원로76가길,91155,96073,62584.65,가로공원로76가길,4.0,1.423159e+08,67.0

##### csl=crawl&sales&live

In [48]:
csl=pd.merge(cs,live.iloc[:,3:],left_on='행정구역',right_on='상권 코드 명',how='left')

In [49]:
csl[0:3]

,상권종류,순번,행정구역,임대시세,상존인구,상권면적,상권_코드_명,점포수,평균매출액,남성매출비율,상권 코드 명,상권 코드,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,연령대 30 상주인구 수,연령대 40 상주인구 수,연령대 50 상주인구 수,연령대 60 이상 상주인구 수
0,발달상권,1246,가락시장,104021,0,386251.09,가락시장,4.0,8.282657e+08,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,골목상권,507,가로공원로58길,66953,100613,44760.85,가로공원로58길,1.0,1.523297e+08,60.0,가로공원로58길,1000507.0,1297.0,1052.0,208.0,304.0,228.0,388.0,508.0,713.0
2,골목상권,553,가로공원로76가길,91155,96073,62584.65,가로공원로76가길,4.0,1.423159e+08,67.0,가로공원로76가길,1000552.0,1551.0,1670.0,427.0,456.0,652.0,509.0,473.0,704.0

##### cslf=crawl&sales&live&facility

In [51]:
cslf=pd.merge(csl,facility.iloc[:,4:],left_on='행정구역',right_on='상권_코드_명',how='left')

In [52]:
cslf[0:3]

,상권종류,순번,행정구역,임대시세,상존인구,상권면적,상권_코드_명_x,점포수,평균매출액,남성매출비율,...,연령대 50 상주인구 수,연령대 60 이상 상주인구 수,상권_코드_명_y,중학교_수,고등학교_수,대학교_수,슈퍼마켓_수,숙박_시설_수,지하철_역_수,버스_정거장_수
0,발달상권,1246,가락시장,104021,0,386251.09,가락시장,4.0,8.282657e+08,81.0,...,NaN,NaN,가락시장,0.0,0.0,0.0,9.0,0.0,1.0,5.0
1,골목상권,507,가로공원로58길,66953,100613,44760.85,가로공원로58길,1.0,1.523297e+08,60.0,...,508.0,713.0,가로공원로58길,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,골목상권,553,가로공원로76가길,91155,96073,62584.65,가로공원로76가길,4.0,1.423159e+08,67.0,...,473.0,704.0,가로공원로76가길,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### cslfh=crawl&sales&live&facility&house

In [57]:
cslfh=pd.merge(cslf,house.iloc[:,4:7],left_on='행정구역',right_on='상권_코드_명',how='left')

In [58]:
cslfh[0:3]

,상권종류,순번,행정구역,임대시세,상존인구,상권면적,상권_코드_명_x,점포수,평균매출액,남성매출비율,...,중학교_수,고등학교_수,대학교_수,슈퍼마켓_수,숙박_시설_수,지하철_역_수,버스_정거장_수,상권_코드_명,아파트_평균_면적,아파트_평균_시가
0,발달상권,1246,가락시장,104021,0,386251.09,가락시장,4.0,8.282657e+08,81.0,...,0.0,0.0,0.0,9.0,0.0,1.0,5.0,NaN,NaN,NaN
1,골목상권,507,가로공원로58길,66953,100613,44760.85,가로공원로58길,1.0,1.523297e+08,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,가로공원로58길,49.0,100413580.0
2,골목상권,553,가로공원로76가길,91155,96073,62584.65,가로공원로76가길,4.0,1.423159e+08,67.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,가로공원로76가길,52.0,107132223.0

##### cslfho=crawl&sales&live&facility&house&office

In [60]:
cslfho=pd.merge(cslfh,office.iloc[:,3:],left_on='행정구역',right_on='상권_코드_명',how='left')

#### 중복되는 행정구역이름 열 제거 후 최종 데이터셋 1496x49

In [61]:
del(cslfho['상권_코드_명_x'])
del(cslfho['상권_코드_명_y'])

In [62]:
cslfho[0:3]

,상권종류,순번,행정구역,임대시세,상존인구,상권면적,점포수,평균매출액,남성매출비율,상권 코드 명,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,발달상권,1246,가락시장,104021,0,386251.09,4.0,8.282657e+08,81.0,NaN,...,11.0,12.0,15.0,10.0,0.0,1.0,2.0,5.0,3.0,0.0
1,골목상권,507,가로공원로58길,66953,100613,44760.85,1.0,1.523297e+08,60.0,가로공원로58길,...,10.0,13.0,15.0,12.0,0.0,1.0,8.0,15.0,17.0,7.0
2,골목상권,553,가로공원로76가길,91155,96073,62584.65,4.0,1.423159e+08,67.0,가로공원로76가길,...,23.0,37.0,25.0,17.0,0.0,10.0,19.0,36.0,20.0,10.0

#### 엑셀파일로 저장

In [63]:
cslfho.to_excel("total.xlsx")

### 이후 편의점 밀집도 등은 엑셀 상에서 직접 계산